# Dune and Flipside Volume Comparison
- Author: Steffan Rees
- 29/08/2022

Assess the volume returned by writing the same queries on the different platforms. As Dune Analytics doesn't currently have an API, I will provide links to the queries/dashboards.

In [1]:
from datetime import datetime
import math
import pandas as pd
from shroomdk import ShroomDK
import sqlparse
import toml

In [2]:
# Read config file and import configurations
config = toml.load('../config.toml')
SHROOMDK_API = config.get('shroomdk').get('shroomdk_api')

In [3]:
# Initialise ShroomDK
sdk = ShroomDK(SHROOMDK_API)

## Flipside Uniswap V2 swap volume by year

In [4]:
query = """
SELECT
  eds.platform,
  date_part(year, block_timestamp) AS year,
  COUNT(*) AS swaps
FROM
  ethereum.core.ez_dex_swaps AS eds
WHERE platform = 'uniswap-v2'
GROUP BY
  eds.platform,
  YEAR(eds.block_timestamp)
ORDER BY
  eds.platform ASC,
  year ASC
"""

In [5]:
qrs = sdk.query(query)
qrs

QueryResultSet(query_id=None, status='finished', columns=['PLATFORM', 'YEAR', 'SWAPS'], column_types=['string', 'number', 'number'], rows=[['uniswap-v2', 2020, 22844431], ['uniswap-v2', 2021, 46562585], ['uniswap-v2', 2022, 14923399]], run_stats=QueryRunStats(started_at=datetime.datetime(2022, 8, 29, 22, 1, 38), ended_at=datetime.datetime(2022, 8, 29, 22, 1, 40), elapsed_seconds=2, record_count=3), records=[{'platform': 'uniswap-v2', 'year': 2020, 'swaps': 22844431}, {'platform': 'uniswap-v2', 'year': 2021, 'swaps': 46562585}, {'platform': 'uniswap-v2', 'year': 2022, 'swaps': 14923399}], error=None)

In [6]:
flipside_df = pd.DataFrame(qrs.records)
flipside_df

     platform  year     swaps
0  uniswap-v2  2020  22844431
1  uniswap-v2  2021  46562585
2  uniswap-v2  2022  14923399

## Dune Uniswap V2 swaps volume by year
Qeuries: 
- Dune V1 https://dune.com/queries/1212346
- Dune V2 https://dune.com/queries/1216628

Dashboard: https://dune.com/steffrees/uniswapv2-swaps-summary

## Flipside Uniswap V2 swap volume on specific day

In [7]:
query = """
SELECT
  eds.platform,
  COUNT(*) AS swaps
FROM
  ethereum.core.ez_dex_swaps AS eds
WHERE
  platform = 'uniswap-v2'
  AND date_part(year, block_timestamp) = 2022
  AND date_part(month, block_timestamp) = 8
  AND date_part(day, block_timestamp) = 1
GROUP BY
  eds.platform
"""

In [8]:
qrs = sdk.query(query)
qrs

QueryResultSet(query_id=None, status='finished', columns=['PLATFORM', 'SWAPS'], column_types=['string', 'number'], rows=[['uniswap-v2', 72999]], run_stats=QueryRunStats(started_at=datetime.datetime(2022, 8, 29, 21, 58, 54), ended_at=datetime.datetime(2022, 8, 29, 21, 58, 54), elapsed_seconds=0, record_count=1), records=[{'platform': 'uniswap-v2', 'swaps': 72999}], error=None)

In [9]:
flipside_df = pd.DataFrame(qrs.records)
flipside_df

     platform  swaps
0  uniswap-v2  72999

## Dune Uniswap V2 swaps volume volume on specific day

Link to qeuries: 
- Dune V1 https://dune.com/queries/1217259
- Dune V2 https://dune.com/queries/1217248